$white: #FFF;
$primary: #1fbfae;
$secondary: #fd8f9b;
$secondary-dark: #fc1e38;

$gray-light: #eceff1;
$gray-dark: #4D565D;
$gray-main: #72818d;

$blue-main: #3D8CD8;
$green-main: #1FBFAE;

$warning: #FFB748;
$success: #1FD1C2;
$error: #FF003A;
$info: #0096ED;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "blue-main": $blue-main,
  "green-main": $green-main,
  "gray-main": $gray-main,
  "secondary-dark": $secondary-dark,
  "error": $error,
  "success": $success,
  "warning": $warning,
  "info": $info
);

