<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tranfeera Test</title>
</head>
<body>
  <header class="bg-primary">
    <div class="container">
      <nav class="navbar">
        <div class="container-fluid">
          <a class="navbar text-white border-bottom border-2 " routerLink="/customers">Seus favorecidos</a>
        </div>
      </nav>
    </div>
  </header>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>
</html>

