<div class="bg-gray-light row py-4">
    <div class="col-md-9">
        <button class="btn btn-add-receiver" (click)="toggleModal('create-receiver')">Seus favorecidos <fa-icon [icon]="faCirclePlus"></fa-icon></button>
    </div>
    <div class="col-md-3 pt-2">
        <form class="form-inline filter-receiver d-flex border-0">
            <input class="form-control mr-sm-2 border-0" type="search" name="search-receiver" placeholder="Nome, CPF, agência ou conta" aria-label="Search" [(ngModel)]="inputValue" (input)="onInputChange()">
            <button class="btn" type="submit" (click)="loadReceivers()" (keyup.enter)="loadReceivers()"><fa-icon [icon]="faMagnifyingGlass"></fa-icon></button>
        </form>
    </div>
</div>
<app-sweet-alert *ngIf="showAlert" [dataAlert]="dataAlert"></app-sweet-alert>
<div class="row my-5">
  <div class="col-md-12">
    <button class="btn btn-secondary delete-receivers" (click)="massiveRemoveReceiver()">
      Excluir Selecionados
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-receivers-head list-flex mb-4">
      <li><input type="checkbox" name="itemCheckbox" [(ngModel)]="selectedAll" (click)="selectAllReceivers()"></li>
      <li class="item-flex">Favorecido</li>
      <li class="item-flex">CPF/CNPJ</li>
      <li class="item-flex">Banco</li>
      <li class="item-flex">Agência</li>
      <li class="item-flex">CC</li>
      <li class="item-flex">Status do Favorecido</li>
    </ul>
    <ul *ngFor="let receiver of receivers" class="list-receivers-body list-flex">
      <li>
        <input type="checkbox" name="itemCheckbox" [(ngModel)]="receiver.selected">
      </li>
      <li class="item-flex">
        <button class="bg-transparent border-0" (click)="detailReceiver(receiver)">{{ receiver.name }}</button>
      </li>
      <li class="item-flex">{{ receiver.tax_id }}</li>
      <li class="item-flex">{{ receiver.branch }}</li>
      <li class="item-flex"><img [src]="'assets/images/branch/' + receiver.bank_code + '.png'" alt="Banco"></li>
      <li class="item-flex">{{ receiver.account }}</li>
      <li class="item-flex">
        <span class="receiver-status" [ngClass]="{
          'status-validated': receiver.status === 'validado',
          'status-sketch': receiver.status === 'rascunho'
        }">{{ receiver.status }}</span>
      </li>
    </ul>
  </div>
</div>
<!-- modal -->
<app-modal *ngIf="showModal && !showModalConfirmRemove" [customModal]="contentModal=='create-receiver' ? 'modal-full' : 'modal-default'" (toggleModal)="toggleModal()">
  <app-receiver-create 
    *ngIf="contentModal=='create-receiver'"
    (toggleModal)="toggleModal()"
    (registerReceiver)="registerReceiver($event)"
    ></app-receiver-create>
  <app-receiver-detail 
    *ngIf="contentModal=='detail-receiver'"
    [receiver]="receiverDetail"
    (toggleModal)="toggleModal()"
    (confirmRemoveReceiver)="confirmRemoveReceiver($event)"
    (updateReceiver)="updateReceiver($event)"
    ></app-receiver-detail>
</app-modal>

<div *ngIf="showModalConfirmRemove"  id="confirmModalContent" class="modal modal-default" tabindex="-1">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button (click)="toggleConfirmModal()" type="button" class="btn-close-modal" data-bs-dismiss="modal">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                      <rect x="7.65332" y="5.53296" width="16" height="3.70588" transform="rotate(45 7.65332 5.53296)" fill="black"/>
                      <rect x="18.967" y="8.15338" width="16" height="3.70588" transform="rotate(135 18.967 8.15338)" fill="black"/>
                      </svg>
              </button>
          </div>
          <div class="modal-body">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                          <h3 class="head-receiver">Excluir favorecido</h3>
                      </div>
                  </div>
                  <div class="row my-4">
                      <div class="col-md-12 confirm-text">
                          <p><span class="font-weight-400">Você confirma a exclusão do {{receiverRemoveData?.name}}?</span></p>
                          <p>
                              O Histórico de pagamentos para este favorecido será mantido, mas<br>ele será removido da sua lista de favorecidos.
                          </p>
                      </div>
                  </div>
                  <div class="row row-footer my-5">
                      <div class="col-md-12 d-flex justify-content-between">
                          <button type="submit" class="btn border-green-main text-green-main btn-back px-md-5" (click)="toggleConfirmModal()">Cancelar</button>
                          <button type="submit" class="btn bg-error btn-text-light px-md-5" (click)="removeReceiver(receiverRemoveData?.id)">Confirmar exclusão</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>