@import '../../../styles/variables.scss';

.list-receivers-body {
    .item-flex,
    .item-flex button {
        color: $gray-main;
        font-weight: 300;
    }
}

#confirmModalContent {

    &.modal-default {

        background-color: rgba(205, 205, 205, 0.2);
        backdrop-filter: blur(5px);

        .modal-dialog {

            width: 75%;
            max-width: 75%;

            .modal-content {

                border: none;
                
                .modal-header {
                    
                    display: flex;
                    justify-content: end;
                    border: none;
            
                    .btn-close-modal {
                        background: none;
                        border: none;
                    }
                }
        
                .head-receiver {
        
                    font-family: 'Roboto';
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 26px;
                    color: #4D565D;
                }

                .confirm-text {
                    font-family: 'Roboto';
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 25px;

                    .font-weight-400 {
                        font-weight: 400;
                    }

                }

                .row-footer button {
                    padding-top: 13px;
                    padding-bottom: 13px;
                    font-family: 'Roboto';
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }
}