@import '../../../../styles/variables.scss';

.modal {
    &.modal-full {
        .modal-dialog {
    
                width: 100%;
                max-width: 100%;
                margin-top: 40px;
                height: 100%;

                .modal-content {

                    height: 100%;
                    
                    .modal-header {
                        border-radius: 0;
                        background-color: $primary;
                    }
                }
            
        }
    }

    &.modal-default {

        background-color: rgba(205, 205, 205, 0.2);
        backdrop-filter: blur(5px);

        .modal-dialog {

            width: 75%;
            max-width: 75%;
            
            @media (min-width: 1200px) {
                width: 50%;
                max-width: 50%;
            }
        }
    }

    .modal-content {

        border: none;
        
        .modal-header {
            
            display: flex;
            justify-content: flex-end;
            border: none;
    
            .btn-close-modal {
                background: none;
                border: none;
            }
        }
    }

    
}