/**
* fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/**
* variables
*/

$white: #FFF;
$primary: #1fbfae;
$secondary: #fd8f9b;
$secondary-dark: #fc1e38;

$gray-light: #eceff1;
$gray-dark: #72818d;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "secondary-dark": $secondary-dark,
  "danger": rgb(195, 56, 56),
  "success": rgb(44, 223, 44),
  "warning": rgb(222, 222, 47)
);

/**
* styles customizations
*/

body {
  background-color: #f2f2f2;
}
a { text-decoration: none !important; }

.navbar { 
  padding: 0 !important;
  height: 50px;
  
  a {

    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    padding: 12px 0 !important;
  }
}

.bg-gray-light {
  background-color: $gray-light;
}

input {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 14px;
}
input::placeholder {
  color: #9DADBB !important;
}

button:hover {
  opacity: 0.8;;
}

button.btn-add-receiver {
  
  color: $gray-dark;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 300;
  line-height: 32.81px;

  svg {
    font-size: 41px;
    color: $primary;
    position: relative;
    bottom: -6px;
    margin-left: 10px;
  }
}

.filter-receiver {
  background-color: $white;
  border-radius: 4px;
}

@import "node_modules/bootstrap/scss/bootstrap";