/**
* fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/**
* variables
*/

@import '../src/styles/variables.scss';

/**
* styles customizations
*/


a { text-decoration: none !important; }

.navbar { 
  padding: 0 !important;
  height: 50px;
  
  a {

    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    padding: 12px 0 !important;
  }
}

.btn-text-light {
  color: $white !important;
}

.bg-gray-light {
  background-color: $gray-light;
}

input {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 14px;
}
input::placeholder {
  color: #9DADBB !important;
}

button:hover {
  opacity: 0.8;;
}

button.btn-add-receiver {
  
  color: $gray-main;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 300;
  line-height: 32.81px;

  svg {
    font-size: 41px;
    color: $primary;
    position: relative;
    bottom: -6px;
    margin-left: 10px;
  }
}

button.btn.delete-receivers {
  color: $white;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding: 17px;
}

.filter-receiver {
  background-color: #FFF;
  border-radius: 4px;
  max-width: 300px;
}

.list-flex {

  font-family: 'Roboto';
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 10px 0;
  margin: 0;


  .item-flex {

    flex: 1;
    flex-basis: 100px;
  }

  li:first-child {
    margin-right: 20px;
  }
}

.list-receivers-head {

  font-weight: 700;
  line-height: 18.75px;
  color: $gray-main;
}

.list-receivers-body {
  font-weight: 300;
  line-height: 19px;
  color: #4D565D;
  margin-bottom: 15px;
}

.receiver-status {

  display: block;
  color: $white;
  border-radius: 16px;
  text-align: center;
  padding: 7px;
  width: 95%;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;


  &.status-validated {
    background-color: $blue-main;
  }

  &.status-sketch {
    background-color: $gray-main;
  }
}

.modal {
  display: initial !important;
}

.colored-toast.bg-icon-success {  
  background-color: $success !important;
  }
  
  .colored-toast.bg-icon-error{

    background-color: $error !important;
  }
  
  .colored-toast.bg-icon-warning{

    background-color: $warning !important;
  }
  
  .colored-toast.bg-icon-info{

    background-color: $info !important;
  }
  
  .colored-toast.bg-icon-question{

    background-color: #87adbd !important;
  }
  
  .colored-toast .swal2-title{
    color: white;
  }
  
  .colored-toast .swal2-close{
    color: white;
  }
  
  .colored-toast .swal2-html-container{
    color: white;
  }

@import "node_modules/bootstrap/scss/bootstrap";